:root {
  --primary: #2563eb;
  --primary-light: #60a5fa;
  --secondary: #0f172a;

  --bg: #f8fafc;
  --card-bg: #ffffff;

  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --text-active: #2563eb;

  --success: #16a34a;
  --danger: #dc2626;
}